In [1]:
# (Q1)print first 10 natural numbers using while loop

i=1
while(i!=11):
    print(i,end=" ")
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
#(Q2) print the pattern
for i in range(1,7):
    for j in range(1,i):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [3]:
#(Q3)calculate the sum of all numbers from 1 to a given number

num = int(input("Enter a number : "))
sum = 0
for i in range(1,num+1):
    sum = sum+i
print(sum)

Enter a number : 10
55

In [4]:
#(Q4)print a table of given number
num = int(input("Enter a number"))
for i in range(1,11):
    print(num," x ",i," = ",num*i)

Enter a number2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [5]:
# (Q5)display numbers from a list using loop . write a program to display only those number from a list that satisfy following condition;

In [6]:
#(Q6) count the total number of digits in number
x = input("Enter the number: ")
print("Size =",len(x))

Enter the number: 123456
Size = 6

In [7]:
# (Q7)print the pattern
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [8]:
# (Q8)print list in reverse order using loop
list_temp = [23,67,24,69,13,96]
l = len(list_temp)
i = l - 1
while (i >= 0):
    print(list_temp[i], end=' ')
    i = i - 1

96 13 69 24 67 23

In [9]:
# (Q9)display number from -10 to -1 using loop

for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [10]:
# (Q10) use else block to display a message "done" after successful execution of for loop

In [11]:
# (Q11)Write a program to display all prime number within a range
lower = int(input("Enter first number"))
upper = int(input("Enter second number"))

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter first number1
Enter second number20
Prime numbers between 1 and 20 are:
2
3
5
7
11
13
17
19

In [12]:
# (Q12) display fibonacci series upto ten terms
num = int(input("Enter a number : "))
a = 0
b = 1
print(a)
print(b)
for i in range(num-2):
    c = a+b
    print(c)
    a= b
    b= c

Enter a number : 10
0
1
1
2
3
5
8
13
21
34

In [13]:
# (Q13)find the factorial of a given number
num = int(input("Enter a number : "))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

Enter a number : 5
120

In [14]:
# (Q14) Reverse a given integer
x = input("Enter a number: ")
l = len(x)
i = l - 1
while (i >= 0):
    print(x[i], end='')
    i = i - 1

Enter a number: 05230
03250

In [15]:
# (Q15) Use a loop to display elements from a given list present at odd index positions

list_temp = [23,34,56,2,45,75,7,12,95,4,51]

for i in range(1,len(list_temp)+1,2):
    print(list_temp[i], end=" ")

34 2 75 12 4

IndexError: list index out of range

In [16]:
# (Q16) Calculate the cube of all number from one to a given number 
num = int(input('Enter a number : '))
for i in range(1,num+1):
    print(i*i*i, end=" ")

Enter a number : 10
1 8 27 64 125 216 343 512 729 1000

In [17]:
# (Q17) Find the sum of series upto n terms for eg : 2+22+222+2222+22222=24690
n = int(input("Enter the number of terms : "))
sum = 0
term = 2

for i in range(1, n+1):
    print(term,"+ ",end="")
    sum += term
    term = term * 10 + 2

print("=",sum)

Enter the number of terms : 5
2 + 22 + 222 + 2222 + 22222 + = 24690

In [18]:
# (Q18) Print the pattern
for i in range(1,6):
    for j in range(1,i):
        print("*",end=" ")
    print("\n")
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*